*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#0f0f12;
    color:white;
}

header{
    background:linear-gradient(90deg,#6d28d9,#9333ea);
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:40px;
    margin-bottom:10px;
}

header p{
    color:#ddd;
}

.hero{
    max-width:900px;
    margin:40px auto;
    background:#1b1b22;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

.hero h2{
    font-size:32px;
    margin-bottom:15px;
}

.hero p{
    color:#cfcfcf;
    margin-bottom:25px;
    line-height:1.6;
}

button{
    background:#8b5cf6;
    color:white;
    border:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#7c3aed;
    transform:scale(1.05);
}

.info,
.beneficios{
    max-width:900px;
    margin:30px auto;
    background:#1b1b22;
    padding:30px;
    border-radius:15px;
}

.info h2,
.beneficios h2{
    margin-bottom:20px;
    color:#a855f7;
}

.info ul,
.beneficios ul{
    margin-left:20px;
    line-height:2;
}

footer{
    margin-top:50px;
    text-align:center;
    padding:20px;
    background:#16161d;
    color:#888;
  }
